
body{
    margin: 0px;
}
.Header-container{
    display: flex;
    margin-top: 30px;
     
}
.Left-text{
    display: flex;
    width: 70%;
}
.h1heading{
    width: 17%;
    margin-left: 113px;
    font-size: 26px;
    font-family: sans-serif;
    color: #FF6827;
}
.search-input-contain{
    margin-top: 14px;
}
.search-input-box{
    width: 330%;
    padding: 8px 5px 8px 5px;
    font-size: 14px;
    font-family: sans-serif;
}
.Right-box{
    padding: 8px 25px 5px 25px;
    height: 25px;
    text-align: center;
    margin-top: 10px;
    background-color: #FF571E;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
}
.Home-page-container{
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
}
.Home-page-contain{
    display: flex;
    width: 73%
}
.home-text{
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 93px;
    cursor: pointer;
}
.image-contain{
    width: 100%;
    padding-bottom: 5%;
}
.cart-container{
    font-size: 20px;
    margin-top: -8px;
    font-family: sans-serif;
    display: flex;
}
.cart-count{
    /* margin-left: 8px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 73px;
    padding: 4px 4px 2px 4px; */
}
.login-signup-text{
    width: 87%;
    margin: auto;
    padding: 0px;
}
.logintext{
    font-size: 17px;
    font-family: sans-serif;
}
.signuptext{
    font-family: sans-serif;
    color: #333333;
    border-bottom: 1px solid gray;
}
.signup-page{
    width: 83%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    padding-bottom: 41px;
}
.Right-container{
    width: 46%;
}
.create-acconunt-text{
    width: 67%;
    font-family: sans-serif;
    color: #FF571E;
    margin-left: 90px;
}
 
.register-text{
    font-family: sans-serif;
    color: #FF571E;
}
.name-contain{
    display: flex;
}
.first-name{
    padding: 5px 17px 5px 18px;
}
label{
    font-family: sans-serif;
    font-size: 14px;
}
.last-name-container{
    margin-left: 31px;
}
.last-name{
    padding: 5px 17px 5px 18px;
}
.error-msg{
    color: #ED1D21;
    padding: 5px;
    
}
.Phonenum{
    width: 86%;
    padding: 7px 3px 7px 2px;
}
.Email {
    width: 86%;
    padding: 7px 3px 7px 2px;
}
.Password {
    width: 86%;
    padding: 7px 3px 7px 2px;
}
.create-account{
    background-color: #FCAF17;
    padding: 8px 16px 8px 18px;
    border: 1px;
    border-radius: 5px;
}
.Phone-num1{
    width: 180%;
}
.sign-account{
    background-color: #FCAF17;
    padding: 4px 30px 7px 28px;
    border: 1px;
    border-radius: 5px;
    font-size: 19px;
}
.new-contain{
    DISPLAY: flex;
    width: 89%;
    margin: auto;
    font-size: 15px;
    font-family: sans-serif;
    color: #333333;
}
.relse-text{
    margin-left: 12px;
}
.relese-test1{
    margin-left: 60px;
    font-size: 24px;
    font-family: sans-serif;
    border-bottom: 1px solid #FF571E;
}
.images{
    height: 253px;
    margin-top: 46px;
}
.image-container{
    padding-bottom: 40px;
    display: flex;
}
.khaki-book{
    margin-left: 79px;
    font-size: 17px;
    font-family: sans-serif;
}
 
#images-container1{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 63px;
    padding-bottom: 28px;
}
.images-container {
    padding: 2px 36px 21px 36px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 5px;

}
 
.rs{
    
    color: #FF571E;
    font-size: 18px;
    font-weight: 700;
}
.addcart-button{
    padding: 7px 16px 7px 16px;
    background-color: #FF571E;
    color: white;
    font-size: 16px;
    border: none;
}
 